<div class="container mx-auto max-w-2xl p-6 bg-white shadow-lg rounded-lg mt-8">

  <h1 class="text-2xl md:text-3xl font-bold text-gray-800 mb-4">
    Chat
  </h1>

  <!-- Caja de mensajes -->
  <div
    #messagesContainer
    class="h-72 overflow-y-auto p-4 bg-gray-400 rounded-lg shadow-inner flex flex-col space-y-3 border border-gray-200"
  >
    @for (message of messages(); track message) {
      <div class="flex flex-row gap-3">
        <div class="flex -space-x-1 overflow-hidden">
          <img src="https://images.unsplash.com/photo-1491528323818-fdd1faba62cc?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=2&w=256&h=256&q=80" alt="" class="inline-block size-6 rounded-full ring-2 ring-gray-900 outline -outline-offset-1 outline-white/10" />
        </div>
        <div class="bg-white px-4 py-2 rounded-lg shadow max-w-[80%] text-gray-800">
          {{ message }}
        </div>
      </div>
    } @empty {
      <p class="text-gray-500 text-sm text-center">Aún no hay mensajes…</p>
    }
  </div>

  <!-- Formulario de envío -->
  <form
    (ngSubmit)="sendMessage()"
    class="mt-4 flex items-center space-x-3"
  >
    <input
      type="text"
      [(ngModel)]="message"
      name="message"
      autocomplete="off"
      placeholder="Escribe tu mensaje…"
      class="flex-1 px-4 py-2 border border-gray-300 rounded-full focus:outline-none focus:ring-2 focus:ring-blue-500 transition"
    />

    <button
      type="submit"
      class="px-6 py-2 bg-blue-600 text-white font-semibold rounded-full shadow hover:bg-blue-700 focus:ring-2 focus:ring-blue-500 transition"
    >
      Enviar
    </button>
  </form>

</div>
